<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span> 更改密码 </span>
    </mat-card-title>
    <mat-card-subtitle>
      通过手机验证码更改您的密码
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <forgot-password-form [codeValidator]="codeValidator" (codeRequestEvent)="processCodeRequest($event)" (mobileInputEvent)="processMobile($event)"
      (passwordEvent)="processPassword($event)">
    </forgot-password-form>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="end stretch">
      <a mat-button routerLink="/auth/login"> {{ loginBtnText }} </a>
      <a mat-button routerLink="/auth/register"> {{ registerBtnText }} </a>
    </div>
  </mat-card-actions>
</mat-card>
