<mat-horizontal-stepper [linear]="true">
  <mat-step [stepControl]="mobileForm">
    <form [formGroup]="mobileForm" (ngSubmit)="submit(mobileForm, $event)">
      <ng-template matStepLabel> 验证绑定手机 </ng-template>
      <app-verify-mobile formControlName="oldCode" [mobile]="mobile" [mobilePlaceholder]="'绑定手机'" (requestCode)="makeRequest($event)"
        (mobileInputEvent)="mobileInput($event)">
      </app-verify-mobile>
      <div>
        <button mat-button matStepperNext> 下一步 </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="newPasswordForm">
    <form [formGroup]="newPasswordForm" (ngSubmit)="submit(newPasswordForm, $event)">
      <ng-template matStepLabel>设置新密码</ng-template>
      <mat-form-field class="full-width">
        <input matInput placeholder="请输入新密码" type="password" formControlName="password">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="请再次输入" type="password" formControlName="repeat">
        <mat-error> 两次密码输入不一致 </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext> 下一步 </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel> 完成 </ng-template>
    密码修改成功。
    <div>
      <button mat-button matStepperPrevious>返回</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
